
led_state_list:
  
  - state: "EMERGENCY"
    led_label: ["front_right_leds", "front_left_leds", "rear_left_leds", "rear_right_leds"]
    mode: "blink"
    color: [255, 0, 0, 0]
    ms_on: 900
    ms_off: 900


  - state: "TURN_LEFT"
    #led_label: ["rear_left_leds", "rear_right_leds", "front_left_leds", "front_right_leds"]
    led_label: ["rear_left_leds"]
    mode: "shift"
    color: [0, 0, 255, 0]
    direction: "right"
    speed: 300
    sleep: 0


  - state: "TURN_RIGHT"
    led_label: ["front_left_leds", "front_right_leds","rear_left_leds", "rear_right_leds"]
    mode: "shift"
    color: [30, 187, 78, 0]
    direction: "left"
    speed: 100
    sleep: 0


  - state: "FORWARD"
    led_label: ["front_right_leds", "front_left_leds", "rear_left_leds", "rear_right_leds"]
    mode: "paint"
    color: [0, 20, 20, 0]



  - state: "STOP"
    led_label: ["all_leds"]
    mode: "paint"
    color: [102 , 0, 102, 0]


  - state: "MOVING"
    led_label: ["all_leds"]
    mode: "blink"
    color: [0,255,0, 0]
    ms_on: 1000
    ms_off: 1000
