<?xml version="1.0"?>
		
<launch>

	<group ns="robot">

		<!-- Arguments for led driver -->
		<arg name = "robot_name"     default = "example"/>
		<arg name = "port_name"		 default = "/dev/ttyLEDs"/>

		<!-- Arguments for user application example -->
		<arg name="cmd_vel"			default = "robotnik_base_control/cmd_vel"/>


		<!-- Launch user application example-->
		<node pkg="robotnik_leds_example" type="leds_robot_example.py" name="leds_robot_example_node" output="screen">
			<param name="cmd_vel" value="$(arg cmd_vel)"/>
		</node>

		<!-- Launch led driver -->
		<include file="$(find robotnik_leds_sdk)/launch/leds_driver.launch">
			<arg name="robot_name" value="$(arg robot_name)"/>
			<arg name="port_name" value="$(arg port_name)"/>
		</include>

		
	</group>

</launch>